:root{
    --dt-navy: #0b2d48;
    --dt-gold: #bd902f;
}

.nav-brand {
    color: var(--dt-navy);
    font-weight: 700;
}

.nav-link{
    color: var(--dt-navy);
}

.nav-link:hover,
.nav-link.active{
    color: var(--dt-gold);
}

h1 {
    color: var(--dt-navy);
    font-weight: 700;
}

.card {
    border: none;
    border-radius: 0.5rem;
}

.card-title{
    color: var(--dt-navy);
}

.btn-primary{
    background-color: var(--dt-navy);
}

.btn-primary:hover,
.btn-primary:focus{
    background-color: black;
    border-color: black;

}